apiVersion: v1
kind: Pod
metadata:
  name: bin-volume-pod
spec:
  containers:
    - name: myapp-container
      image: busybox
      command: ["sh", "-c", "echo $(cat /etc/config/db_name) && sleep 3600"]
      volumeMounts:
        - name: config-volume
          mountPath: /etc/config
          volumes:
            - name: config-volume
              configMap:
                name: bin-configmap
